<style lang="scss">
  .eventItem {
    &__card {
      @include media("<=tablet") {
        width: 100%;
        margin: .5rem 0;
      }
      height: 100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);

      background-color: #fefefe;

      display: flex;
      flex-direction: column;
      margin: 0 .5rem;
      flex: 1;
      justify-content: space-between;
    }
    &__content {
      overflow-y: hidden;
    }
    &__info:not(:last-child) {
      &::after {
        content: ' /';
      }
    }
    &__speaker {
      margin-bottom: 0 !important;
    }
    &__meta {
      margin: 0;
    }
  }

  .topicWrapper {
    display: block;
    flex: 1;
  }
</style>

<template>
  <topic-wrapper
    :event="event"
    class="eventItem__link"
  >
    <div class="card is-flex eventItem__card">
      <div class="card-content">
        <div class="media">
          <div class="media-content eventItem__content">
            <p class="title is-6 eventItem__topic">
              {{ event.display }}
            </p>
            <p
              v-if="speakerNames"
              class="eventItem__speaker subtitle is-6"
            >
              {{ speakerNames }}
            </p>
            <p
              v-if="event.language || event.level || event.venue.name"
              class="subtitle is-6 eventItem__meta"
            >
              <span
                v-if="event.language"
                class="eventItem__info"
              >
                {{ event.language }}
              </span>
              <span
                v-if="event.level"
                class="eventItem__info"
              >
                {{ event.level }}
              </span>
              <span
                v-if="event.venue.name"
                class="eventItem__info"
              >
                {{ event.venue.name }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </topic-wrapper>
</template>

<script>
export default {
  name: 'EventItem',
  components: {
    TopicWrapper: () => import('./TopicWrapper'),
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    speakerNames() {
      return this.event.speakers.map(({ name }) => name).join(', ');
    },
  },
};
</script>
