.has-text-theme-blue {
  color: $theme-blue !important;
}

.has-text-theme-yellow {
  color: $theme-yellow !important;
}

.button {
  &.is-primary, &.is-primary:hover {
    color: $theme-blue;
  }
  &.is-reverse {
    background: $theme-blue;
    color: $theme-yellow;
  }
  &.is-fab {
    border-radius: 50%;
  }
}
